#team.team
  .container
    .head-one.text-center.team-head
      %h2
        = t 'copy.team.head'
      %span
      %p
        = t 'copy.team.description'
    / --team-members--
    .team-members
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.github{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .clearfix
