#work.work
  #work1.container
    .head-one.text-center
      %h2
        = t 'copy.work.head'
      %span
      %p
        = t 'copy.work.description'
    / -works-
    .works
      #whatever
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .clearfix
    .clearfix
