#work.work
  #work1.container
    .head-one.text-center
      %h2 featured work
      %span
      %p Here you can find some of our latest works, to see the details of these works just click the thumbnails below.
    / -works-
    / -images-hover-effects-
    :javascript
      $(document).ready(function() {
        $('#whatever').hoverGrid();
      });
    / -images-hover-effects-
    .works
      #whatever
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w2.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w3.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w4.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w5.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w6.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w7.png", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w8.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w9.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .clearfix
    .clearfix
