/ --- start-header--
#home.header
  .top-header
    .container
      .logo
        %a{:href => "#"} zaznova
      / --start-top-nav--
      %nav.top-nav
        %ul.top-nav
          %li.active
            %a.scroll{:href => "#home"} Home
          %li.page-scroll
            %a.scroll{:href => "#work"} Work
          %li.page-scroll
            %a.scroll{:href => "#team"} Team
          %li.contatct-active
            %a.scroll{:href => "#contact"} Contact
        %a#pull{:href => "#"}
          = image_tag("nav-icon.png", title: "menu")
      .clearfix
/ --- //End-header--
/ --banner--
.banner.text-center
  .container
    .banner-info
      %h1
        %span let us make
        your lives easier
      %p We specialize in crafting awesome ideas for web, mobile and beyond.
      %label.page-scroll
        %a.big-btn.scroll{:href => "#work1"}
          %span
/ //banner--
/ -work-
#work.work
  #work1.container
    .head-one.text-center
      %h2 featured work
      %span
      %p Here you can find some of our latest works, to see the details of these works just click the thumbnails below.
    / -works-
    / -images-hover-effects-
    :javascript
      $(document).ready(function() {
        $('#whatever').hoverGrid();
      });
    / -images-hover-effects-
    .works
      #whatever
        .col-md-4.work-grid
          .item
            = image_tag("w1.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w2.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w3.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w4.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w5.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w6.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w7.png", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w8.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .col-md-4.work-grid
          .item
            = image_tag("w9.jpg", title: "name")
            .caption{:style => "display: none;"}
              %h2 Some Title
              %p This is a caption to end all captions
        .clearfix
    .clearfix
/ -//works-
/ -team-
#team.team
  .container
    .head-one.text-center.team-head
      %h2 Team
      %span
      %p We are a hard working group, who's aim is to listen to your problems and to come up with the best solution possible. We follow the lates trends on the web to create custom talierd niche websites.
    / --team-members--
    .team-members
      .col-md-3
        .team-member.text-center
          = image_tag("t1.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.dribbble{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t2.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.dribbble{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t3.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.dribbble{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .col-md-3
        .team-member.text-center
          = image_tag("t4.jpg", class: "t-pic", title: "name")
          %h3 naME sURNAME
          %span Lead Developer
          %ul.t-social.unstyled-list.list-inline
            %li
              %a.twitter{:href => "#"}
                %span
            %li
              %a.dribbble{:href => "#"}
                %span
            %li
              %a.in{:href => "#"}
                %span
            .clearfix
      .clearfix
    / --//team-members--
/ -//team-
/ -Contact-
#contact.contact
  .container
    .head-one.text-center
      %h2 contact
      %span
    .contact-grids
      .col-md-12.contact-form
        %p Want to contact us now? Just drop us a line below.
        %form
          %textarea Leave us a message...
          %input{:type => "text", :value => "Your@mail.com"}/
          %input{:type => "submit", :value => "Send"}/
      .clearfix
/ -//Contact-
/ -footer-
.footer
  .container
    .footer-left
      %p
        %span Adress:
        ipsum dolor sit amet, consectetur adipiscing - elit.
    .footer-right
      %p
        Developed by
        %a{:href => "#"} zaznova
      :javascript
        $(document).ready(function() {
                            /*
                            var defaults = {
                                containerID: 'toTop', // fading element id
                              containerHoverID: 'toTopHover', // fading element hover id
                              scrollSpeed: 1200,
                              easingType: 'linear' 
                            };
                            */
                            $().UItoTop({ easingType: 'easeOutQuart' });
                          });
      %a#toTop{:href => "#", :style => "display: block;"}
        %span#toTopHover{:style => "opacity: 1;"}
    .clearfix
/ -//footer-
