= render partial: 'shared/header'
= render partial: 'shared/banner'
= render partial: 'shared/work'
= render partial: 'shared/team'
= render partial: 'shared/contact'
= render partial: 'shared/footer'
